@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: OpenSans;
        src: url('../assets/fonts/OpenSans.ttf');
    }
    @font-face {
        font-family: Staatliches;
        src: url('../assets/fonts/Staatliches.ttf');
    }
    @font-face {
        font-family: ComforterBrush;
        src: url('../assets/fonts/ComforterBrush.ttf');
    }
}

html {
    @apply bg-zinc-900 text-neutral-100;
}

body {
    font-family: OpenSans;
}

.headers {
    font-family: Staatliches;
}

.text {
    font-family: OpenSans;
}

.script {
  font-family: ComforterBrush;
}

.navbar {
    @apply absolute top-0 left-0 h-[100px] md:h-[120px] w-full bg-gradient-to-b from-zinc-900 to-zinc-900/30 via-zinc-900/80;
    z-index: 999;
}

.pageLayout {
    @apply relative flex flex-col h-[calc(100vh-100px)] md:h-[calc(100vh-120px)] top-[100px] md:top-[120px];
}

.bgImageWrapper {
    @apply fixed h-full w-full top-[40px] md:top-[60px];
}

 /*--- Scrollbars --- */

::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgb(0, 0, 0); 
  }
       
::-webkit-scrollbar-thumb {
  @apply bg-red-500 rounded-sm;
  background-clip: padding-box; 
  }
  
::-webkit-scrollbar-thumb:hover {
    @apply bg-red-600;
    background-clip: padding-box; 
  }

  /*--- Toasts --- */

  .Toastify__toast-container {
    @apply fixed bottom-2 right-2 p-0 ml-auto !important;
    max-width: 280px;
  }
  
  .custom-toast {
    @apply font-medium shadow-lg rounded-md text-neutral-100 text-lg min-h-0 pl-2 pr-4 cursor-pointer !important;
  }
  
  .red-toast {
    @apply bg-red-600 hover:bg-red-700 !important;
  }
  
  .green-toast {
    @apply bg-green-600 hover:bg-green-700 !important;
  }
  
  .Toastify__close-button {
    @apply absolute top-1 right-1 text-neutral-100 opacity-100 !important;
  }

  /* --- Datepicker --- */

  .react-datepicker {
    @apply relative;
}

.react-datepicker__month-container {
    @apply my-2 p-4 shadow-md bg-zinc-800/30;
}

.react-datepicker__navigation {
    @apply absolute top-0 left-0 w-full;
}

.react-datepicker__navigation-icon {
    @apply relative w-0 translate-y-4;
    font-size: 0px;
}

.react-datepicker__navigation-icon:before {
    @apply absolute h-3 w-3 top-2 block border-t-2 border-r-2 border-red-600;
    content: "";
}

.react-datepicker__navigation-icon--previous {
    @apply absolute left-6;
}

.react-datepicker__navigation-icon--next {
    @apply absolute right-6;
}

.react-datepicker__navigation-icon--previous:before {
    @apply -right-10;
    transform: rotate(225deg);
}

.react-datepicker__navigation-icon--next:before {
    @apply -left-10 rotate-45;
}

.react-datepicker__current-month {
    @apply text-center text-3xl headers;
}

.react-datepicker__day-names {
    @apply mt-4 mb-1;
}

.react-datepicker__day-names, .react-datepicker__week {
    @apply grid grid-cols-7 gap-1;
}

.react-datepicker__day-name {
    @apply text-red-600 text-center headers text-2xl;
}

.react-datepicker__day {
    @apply mt-1 h-7 w-7 p-8 text-2xl w-full flex flex-row items-center justify-center mx-auto hover:bg-red-600/50 hover:font-bold cursor-pointer transition-all duration-100 rounded-sm;
}

.react-datepicker__day--selected, .react-datepicker__day--selected:focus {
    @apply bg-red-600 font-bold text-3xl shadow-md;
}

.react-datepicker__day--outside-month {
  @apply opacity-20;
}